# SSH Configuration

# These settings apply to all hosts
Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
	# Fix OpenSSH vulnerabilities CVE-2016-0777 and CVE-2016-0778
	UseRoaming no
	# Disable GSSAPI auth since SSH keys are preferred for authentication
	GSSAPIAuthentication no

# Use SSH (and a separate key) for all job-related Git work
Host github.com
	IdentityFile ~/.ssh/modeln_rsa
Host bitbucket.org
	IdentityFile ~/.ssh/modeln_rsa
