# .gitconfig
# Caleb Evans

# User information
[user]
	name = Caleb Evans
	email = caleb@calebevans.me
	signingkey = A324810138AFD374

# Store user credentials in OS X Keychain
[credential]
	helper = osxkeychain

# Core configuration
[core]
	# Use a global .gitignore for project-independent files
	excludesfile = ~/dotfiles/git/gitignore_global
	# Highlight line-specific changes and use diff-so-fancy to format diff
	pager = diff-so-fancy | less --tabs=1,5 -R

# Interactive staging
[interactive]
	# Use same diff highlighting for interactive staging
	diffFilter = diff-so-fancy

# Always sign commits using GPG
[commit]
	gpgsign = true

# Push/pull current branch by default (when no arguments are given)
[push]
	default = simple
[pull]
	default = simple

# Enable more-logical grouping of changes in diffs
[diff]
	compactionHeuristic = true

# Set a more human-readable default date format for git log
[log]
	date = format:%a %b %-d %Y @ %-I:%M %p

# Set pleasant colors for diffs
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

# Disable "advice" help messages
[advice]
	# Advice shown when git refuses to merge or checkout due to local changes
	commitBeforeMerge = false
	# Advice shown when entering detached HEAD state
	detachedHead = false
	# Advice shown when push is rejected by remote
	pushUpdateRejected = false
	# Advice shown when running `git status`
	statusHints = false

# Useful Git aliases
[alias]
	commita = commit --amend
	chp = cherry-pick
	diffc = diff --cached
	diffcw = diff --color-words
	diffcwc = diff --color-words --cached
	diffno = diff --name-only
	diffnoc = diff --name-only --cached
	diffns = diff --name-status
	diffnsc = diff --name-status --cached
	gcpn = gc --prune=now
	logg = log --fixed-strings --regexp-ignore-case --grep
	logl = log --graph --pretty=format:'%C(auto)%h%Creset %s %Cblue(%cd)%Creset' --date=format:%-m/%-d/%y
	rmc = rm --cached
	rp = rev-parse
	showno = show --name-only
	showns = show --name-status
	stashki = stash --keep-index
	stashp = stash pop
