/* Increase the breathing room above and below the bookmarks toolbar */
#PlacesToolbarItems {
  padding: 0px 0px !important;
  padding-bottom: 1px !important;
}
#PlacesToolbarItems .bookmark-item {
  padding: 5px 6px !important;
}

/* Change the color of the lock icon to a prettier green */
#urlbar[pageproxystate="valid"] #connection-icon {
	fill: #6c3 !important;
}
