# .gitconfig
# Caleb Evans

# User information
[user]
	name = Caleb Evans
	email = caleb@calebevans.me

# Store user credentials in OS X Keychain
[credential]
	helper = osxkeychain

# Core configuration
[core]
	# Use tab width of 4 columns for git diff/show
	pager = less -x1,5

# Push/pull current branch by default (when no arguments are given)
[push]
	default = simple
[pull]
	default = simple
