# .gitconfig
# Caleb Evans

# User information
[user]
	name = Caleb Evans
	email = caleb@calebevans.me

# Store user credentials in OS X Keychain
[credential]
	helper = osxkeychain

# Core configuration
[core]
	# Highlight line-specific changes and use diff-so-fancy to format diff
	pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R

# Push/pull current branch by default (when no arguments are given)
[push]
	default = simple
[pull]
	default = simple

# Set pleasant colors for diffs
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

# Useful Bash aliases
[alias]
	commita = commit --amend
	diffc = diff --cached
	diffno = diff --name-only
