"*":
  core:
    disabledPackages: [
      "archive-view"
      "background-tips"
      "dev-live-reload"
      "welcome"
      "update-package-dependencies"
      "timecop"
      "exception-reporting"
      "image-view"
      "metrics"
      "open-on-github"
      "release-notes"
      "styleguide"
      "autocomplete"
      "tree-view"
      "bookmarks"
      "autosave"
      "deprecation-cop"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
      "autocomplete-atom-api"
    ]
    projectHome: "~"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Monaco"
    tabLength: 4
    softTabs: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    invisibles:
      {}
    autoIndentOnPaste: false
  welcome:
    showOnStartup: false
  linter:
    showErrorInline: false
    statusBar: "Show error of the selected line"
    showInfoMessages: true
    lintOnChange: false
    showHighlighting: false
  autosave:
    enabled: true
  script:
    enableExecTime: false
  emmet:
    extensionsPath: "~/.emmet"
  "linter-jscs":
    onlyConfig: true
    preset: "jquery"
  "fuzzy-finder":
    preserveLastSearch: true
".applescript.source":
  editor:
    commentStart: "-- "
".ini.source":
  editor:
    commentStart: "# "
".source.viml":
  editor:
    commentStart: "\" "
