# Your keymap

'.platform-darwin':

  # Disable cmd-o because it always gets in the way of typing cmd-i
  'cmd-o': 'unset!'

  # Rebind key binding for toggling tree view to something not so easily pressed
  'cmd-\\': 'unset!'
  'ctrl-alt-cmd-\\': 'tree-view:toggle'

'.platform-darwin atom-workspace':

  # Create new files using advanced-open-file
  'alt-cmd-n': 'advanced-open-file:toggle'

  # Reveal the current project folder at the workspace level
  'shift-cmd-r': 'application:show-project-folder-in-file-manager'

# Any text field (code editors and inputs)
'.platform-darwin atom-text-editor':

    # Expands/contracts selection to next outermost/innermost set of tokens
    'alt-up': 'expand-region:expand'
    'alt-down': 'expand-region:shrink'

# Code editors only
'.platform-darwin atom-text-editor:not([mini])':

  # Breaks current selection/paragraph into lines no longer than 80 chars
  'alt-cmd-r': 'autoflow:reflow-selection'

  # Toggles grammar (language) selection panel
  'shift-cmd-L': 'grammar-selector:show'

  # Toggles character encoding selection panel
  'cmd-shift-U': 'encoding-selector:show'

  # Toggles line jump panel
  'cmd-j': 'go-to-line:toggle'

  # Deletes an entire line without copying it
  'ctrl-shift-K': 'unset!'
  'shift-cmd-X': 'editor:delete-line'

  # Selects all occurences of current selection (complements cmd-d)
  'alt-cmd-d': 'find-and-replace:select-all'

  # Selects all text between matching parens/brackets
  'alt-cmd-b': 'bracket-matcher:select-inside-brackets'
  # Places cursor at the matching bracket for the current bracket
  'alt-cmd-m': 'bracket-matcher:go-to-matching-bracket'

  # Resizes spaces-per-indent amount for entire document
  'ctrl-cmd-[': 'resize-indent:halve'
  'ctrl-cmd-]': 'resize-indent:double'

  # Converts between tabs and spaces
  'ctrl-alt-cmd-]': 'tabs-to-spaces:tabify'
  'ctrl-alt-cmd-[': 'tabs-to-spaces:untabify'

  # Disable all alt-* key bindings
  'alt-b': 'unset!'
  'alt-shift-B': 'unset!'
  'alt-d': 'unset!'
  'alt-f': 'unset!'
  'alt-shift-F': 'unset!'
  'alt-h': 'unset!'
  'alt-shift-S': 'unset!'

  # Toggles invisible characters and indent guide
  'cmd-i': 'window:toggle-invisibles'
  'shift-cmd-I': 'editor:toggle-indent-guide'

  # Auto-indents the selection according to the file's designated grammar
  'alt-cmd-tab': 'editor:auto-indent'

  # Toggles list of snippets that apply to current document
  'ctrl-cmd-s': 'snippets:available'

  # Advances to next Linter error in document
  'alt-cmd-l': 'linter-ui-default:next'

  # Aligns values to same column if list of key-value pairs is selected
  # 'ctrl-cmd-a': 'unset!'
  'shift-cmd-A': 'atom-alignment:alignMultiple'

  # Toggles Markdown Preview (even if editor is unfocused)
  'shift-cmd-M': 'markdown-preview:toggle'

  # Expands Emmet HTML abbreviations
  'cmd-e': 'emmet:expand-abbreviation'
  # Wraps selection in Emmet HTML abbreviation
  'shift-cmd-e': 'emmet:wrap-with-abbreviation'

  # Opens inline URL in default web browser if cursor is within URL
  'alt-cmd-o': 'link:open'

  # Opens the active document in Finder
  'shift-cmd-r': 'tree-view:show-current-file-in-file-manager'

  # Swaps selections
  'alt-cmd-t': 'atom-transpose:transpose'

  # Copy the current file's project-relative path to the clipboard
  'alt-cmd-c': 'editor:copy-project-path'

  # View all editorconfig information for the current file
  'ctrl-cmd-e ctrl-cmd-e': 'EditorConfig:show-state'

  # Reformat a file according to the applicable editorconfig settings
  'ctrl-cmd-e ctrl-cmd-f': 'EditorConfig:fix-file'

  # Attempt to modify file to comply with applicable Eslint rules
  'ctrl-cmd-l ctrl-cmd-f': 'linter-eslint:fix-file'

  # Prettify the code in the active editor
  'ctrl-cmd-p': 'atom-beautify:beautify-editor'

  # Sort the selected lines (or the whole file) in alphabetical order
  'ctrl-cmd-a': 'sort-lines:sort'

# Toggles match by whole word in Find and Replace / Project Find panels
'.platform-darwin .find-and-replace':
  'alt-cmd-b': 'find-and-replace:toggle-whole-word-option'
'.platform-darwin .project-find':
  'alt-cmd-b': 'project-find:toggle-whole-word-option'

# Tree View sidebar (when focused)
'.tree-view':

  # Rename the selected file or directory
  'cmd-e': 'tree-view:rename'

  # Remove the selected file or directory
  'cmd-backspace': 'tree-view:remove'
