# Your keymap

'body':
  # Disable MRU tab switching
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'

'.platform-darwin atom-workspace atom-text-editor:not([mini])':
  # Breaks current selection/paragraph into lines no longer than 80 chars
  'alt-cmd-q': 'unset!'
  'alt-cmd-r': 'autoflow:reflow-selection'
  # Toggles grammar (language) selection panel
  'ctrl-shift-L': 'unset!'
  'shift-cmd-L': 'grammar-selector:show'
  # Toggles character encoding selection panel
  # 'ctrl-shift-U': 'unset!'
  'cmd-shift-U': 'encoding-selector:show'
  # Toggles line jump panel
  'cmd-j': 'go-to-line:toggle'
  # Deletes an entire line without copying it
  'ctrl-shift-K': 'unset!'
  'shift-cmd-X': 'editor:delete-line'
  # Selects all occurences of current selection (complements cmd-d)
  'alt-cmd-d': 'find-and-replace:select-all'
  # Selects all text between outer matching pair of parens/brackets
  'alt-cmd-b': 'bracket-matcher:select-inside-brackets'

'atom-text-editor':
  # Resizes spaces-per-indent amount for entire document
  # 'ctrl-{': 'unset!'
  # 'ctrl-}': 'unset!'
  'ctrl-cmd-[': 'resize-indent:halve'
  'ctrl-cmd-]': 'resize-indent:double'
  # Convert between tabs and spaces used for indentation
  'ctrl-alt-cmd-]': 'whitespace:convert-spaces-to-tabs'
  'ctrl-alt-cmd-[': 'whitespace:convert-tabs-to-spaces'
  # Disable all alt-* key bindings
  'alt-b': 'unset!'
  'alt-shift-B': 'unset!'
  'alt-d': 'unset!'
  'alt-f': 'unset!'
  'alt-shift-F': 'unset!'
  'alt-h': 'unset!'
  'alt-shift-S': 'unset!'

'atom-text-editor:not([mini])':
  # Toggles invisible characters and guides
  'cmd-i': 'window:toggle-invisibles'
  'shift-cmd-I': 'editor:toggle-indent-guide'
  # Auto-indents the selection according to the file's designated grammar
  'alt-cmd-tab': 'editor:auto-indent'
  # Toggles list of snippets that apply to current document
  'ctrl-cmd-s': 'snippets:available'
  # Advances to next Linter error in document
  'alt-cmd-l': 'linter:next-error'
  # Expands/contracts selection to next outermost/innermost set of tokens
  'alt-up': 'expand-region:expand'
  'alt-down': 'expand-region:shrink'

'.platform-darwin atom-text-editor:not([mini])':
  # Aligns values to same column if list of key-value pairs is selected
  # 'ctrl-cmd-a': 'unset!'
  'shift-cmd-A': 'atom-alignment:alignMultiple'
  # Toggles Markdown Preview (even if editor is unfocused)
  'shift-cmd-M': 'markdown-preview:toggle'
  'ctrl-w': 'unset!'
  # Expands Emmet HTML abbreviations
  'cmd-e': 'emmet:expand-abbreviation'

'.platform-darwin atom-workspace':
  # Opens inline URL in default web browser if cursor is within URL
  # 'ctrl-shift-O': 'unset!'
  'alt-cmd-o': 'link:open'
  # Create new files using advanced-open-file rather than open existing files
  'alt-cmd-n': 'advanced-open-file:toggle'

# Prevent Emmet from hijacking autocomplete
# 'atom-text-editor.autocomplete-active:not([mini])':
#   'tab': 'autocomplete-plus:confirm'
