packages: [
  "advanced-open-file"
  "atom-alignment"
  "atom-beautify"
  "atom-transpose"
  "busy-signal"
  "change-case"
  "color-picker"
  "docblockr"
  "editorconfig"
  "emmet"
  "expand-region"
  "git-blame"
  "intentions"
  "language-apache"
  "language-applescript"
  "language-awk"
  "language-babel"
  "language-diff"
  "language-env"
  "language-gitattributes"
  "language-gitignore"
  "language-har"
  "language-hosts"
  "language-ini"
  "language-javascript-jsx"
  "language-latex"
  "language-liquid"
  "language-lisp"
  "language-pegjs"
  "language-pip"
  "language-prolog"
  "language-sca"
  "language-svg"
  "language-tcl"
  "language-tex"
  "language-viml"
  "language-x86"
  "linter"
  "linter-coffeescript"
  "linter-eslint"
  "linter-flake8"
  "linter-jsonlint"
  "linter-php"
  "linter-shellcheck"
  "linter-ui-default"
  "monokai"
  "package-sync"
  "pdf-view"
  "plist-converter"
  "resize-indent"
  "sort-lines"
  "ssh-config"
  "svg-preview"
  "tabs-to-spaces"
  "teletype"
]
