# Your snippets

'.source.js':

	# Jasmine

	'it':
		'prefix': 'it'
		'body': "it('$1', function ($2) {\n\t$3\n});$4"

	'describe':
		'prefix': 'desc'
		'body': "describe('$1', function ($2) {\n\t$3\n});$4"

	'expect':
		'prefix': 'expect'
		'body': "expect($1).${2:toBe}($3);$4"
