/*
 * Your Stylesheet
 */

// Define default values for color variables used below (in case the current
// Atom theme does not use these color variables)
@green: none;
@orange: none;
@yellow: none;

@import 'ui-variables';

// Make window title bar blend in with rest of window
atom-panel.header {
  border-bottom-width: 0;
}
.title-bar {
  background-color: @app-background-color;
}
.tab-bar .tab {
  border-top: solid 1px transparent;
  &.active {
    border-top-color: @base-border-color;
    &[data-type="TreeView"] {
      border-width: 0;
    }
  }
}

atom-text-editor:not([mini]) {
  // De-italicize all syntax components which Monokai italicizes
  .syntax--storage.syntax--type,
  .syntax--entity.syntax--other.syntax--inherited-class,
  .syntax--variable.syntax--parameter,
  .syntax--support.syntax--type,
  .syntax--support.syntax--class {
    font-style: normal;
  }
  // Use white as default color for ES6 template literal interpolation
  .syntax--source.syntax--js.syntax--embedded {
    color: #fff;
  }
  // Also color ${} wrappers distinctly
  .syntax--punctuation.syntax--section.syntax--embedded.syntax--js {
    color: @pink;
  }
  // Make selected line more prominent
  .line.cursor-line {
    background-color: rgba(255, 255, 255, 0.05);
  }
  // Make underline under matched brackets solid rather than dotted
  .bracket-matcher .region {
    border-bottom-style: solid;
  }
  // Color Apache Directory/Location paths like all other strings
  .syntax--meta.syntax--toc-list.syntax--apache-config {
    &.syntax--directory,
    &.syntax--location,
    &.syntax--files {
      color: @yellow;
    }
  }
  // Diffs and patches
  .syntax--diff {
    &.syntax--inserted {
      color: @green;
    }
    &.syntax--deleted {
      color: @pink;
    }
    &.syntax--range {
      color: @blue;
    }
    &.syntax--header,
    &.syntax--index {
      color: @gray;
    }
  }
}

// Use a prettier color for the find-and-replace current result "flash'"
@syntax-selection-flash-color: @green;
@keyframes flash {
  from { background-color: @syntax-selection-flash-color; }
  to { background-color: null; }
}

// Make Linter gutter blend into the line number gutter
atom-text-editor.editor .gutter[gutter-name="linter-ui-default"] {
  background-color: @syntax-gutter-background-color;
}

.sb-table.linter {
  border-width: 0;
  // Do not display column headers
  thead {
    display: none;
  }
  // Make Linter panel blend into status bar
  tbody {
    background: @app-background-color;
  }
  tr {
    // Add border between each row
    border-bottom: solid 1px @base-border-color;
    &:last-child {
      border-bottom-width: 0;
    }
  }
  td {
    padding: 10px 15px;
    // Make Severity column more prominent
    &:first-child {
      width: 78px;
      min-width: 0;
      border-left: solid 2px @background-color-error;
      font-weight: bold;
      color: #fff;
    }
  }
  td, th {
    // Hide Provider column
    &:nth-child(2) {
      display: none;
    }
  }
}

// Make Fuzzy Finder / Command Palette character matches white instead of blue
.select-list .list-group .character-match {
  color: #fff;
}

.settings-view {
  // Individual setting checkboxes
  input[type="checkbox"] {
    &:active,
    &:checked {
      background: @green;
    }
  }
  // Informational alert panels (e.g. the panel on the Updates screen)
  .alert-info {
    // Make them gray instead of an ugly blue
    border-color: @button-border-color;
    background: @button-background-color;
    color: @text-color-highlight;
  }
  // "Enabled" package status indicators
  .package-card .meta-controls .status-indicator {
    background: @green;
  }
}


// SVG Preview pane
.svg-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .image-canvas {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
}

// Tree View dock (Atom >=1.7)
.atom-dock-inner.left.atom-dock-open {
  // Constrain width of tree view
  .atom-dock-mask,
  .atom-dock-content-wrapper {
    @tree-view-width: 220px;
    min-width: @tree-view-width;
    max-width: @tree-view-width;
  }
}

// Linter panel dock (Atom >= 1.7)
.atom-dock-inner.bottom.atom-dock-open {
  // Hide Linter title bar
  .tab-bar {
    visibility: hidden;
    height: 0;
  }
}

// Increase prominence of item text color for focused tree view
.tree-view:focus li.selected {
  color: #fff;
}
