/*
 * Your Stylesheet
 */

@import 'ui-variables';

// Define palette of preferred colors
@ce-color-green: #6c3;
@ce-color-orange: #e53;

atom-text-editor:not([mini])::shadow {
  // De-italicize all syntax components which Monokai italicizes
  .storage.type,
  .entity.other.inherited-class,
  .variable.parameter,
  .support.type,
  .support.class {
    font-style: normal;
  }
  // Make selected line more prominent
  .line.cursor-line {
    background-color: rgba(255, 255, 255, 0.05);
  }
  // Make underline under matched brackets solid rather than dotted
  .bracket-matcher .region {
    border-bottom-style: solid;
  }
  // Color Apache Directory/Location paths like all other strings
  .meta.toc-list.directory.apache-config,
  .meta.toc-list.location.apache-config,
  .meta.toc-list.files.apache-config {
    color: @yellow;
  }
}

// Make labels for Merge Conflicts (e.g. "// Our changes") more prominent
atom-text-editor:not([mini]).conflicted .text-subtle {
  color: #fff;
}

// Selected tab highlight
.tab-bar .tab::before {
  background: @ce-color-green;
}

// Remove ugly fuzzy outline from buttons when focused
.btn {
  outline-width: 0 !important;
}

// Use prettier border for hovered/active/focused buttons
.btn-default,
.btn-info {
  border-color: @button-border-color !important;
}

// Hide Linter status indicator when no issues are found
.linter-highlight.status-success {
  display: none;
}

// "Lines modified" status bar indicator
.status-modified {
  color: @ce-color-orange;
}

.settings-view {
  // Individual setting checkboxes
  input[type="checkbox"] {
    &:active,
    &:checked {
      background: @ce-color-green;
    }
  }
  // Informational alert panels (e.g. the panel on the Updates screen)
  .alert-info {
    // Make them gray instead of an ugly blue
    border-color: @button-border-color;
    background: @button-background-color;
    color: @text-color-highlight;
  }
  // "Enabled" package status indicators
  .package-card .meta-controls .status-indicator {
    background: @ce-color-green;
    // "Disabled" package status indicators
    &.is-disabled {
      background-color: @ce-color-orange;
    }
  }
}


// Move Linter Status to the left of Encoding and Language in status bar
// Only looks good if Position setting is "right"
.status-bar linter-bottom-status.inline-block {
  float: left;
}

// Hide Linter file tabs to conserve space in status bar
linter-bottom-tab {
  display: none;
}

// SVG Preview pane
.svg-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none !important;
  .image-controls {
    display: none;
  }
  .image-canvas {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  svg {
    background: #fff;
  }
}
